:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --title-background-color-dark: #2E2F42;
    --text-color:#434455;
    --background-color-team: #F4F4FD;
    --backgrond-color-light: #FFFFFF;
    --color-accent: #E7E9FC;
    --font-text-base: 'Roboto', sans-serif;
    --font-text-link: 'Raleway', sans-serif
}

body {
    font-family: var(--font-text-base);
    color: var(--text-color);
    background-color: var(--backgrond-color-light)
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul, 
ol {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--title-background-color-dark);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    font-family: var(--font-text-base);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
}

.hero-btn {
    min-width: 169px;
    height: 56px;
    color: var(--backgrond-color-light);
    background-color: var(--primary-brand-color);
    display: block;
    margin: 0 auto;
    margin-bottom: 188px;
}

.hero-btn:hover, .hero-btn:focus, .portfolio-filters-btn:hover, .portfolio-filters-btn:focus {
    background-color: var(--pressed-state-color);
}

.portfolio-filters-btn {
    text-align: center;
    color: var(--primary-brand-color);
    background: var(--background-color-team);
}

.portfolio-filters-btn:hover,
.portfolio-filters-btn:focus {
    color: var(--backgrond-color-light)
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-background-color-dark);
    margin-bottom: 8px;
}

.text-down {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text-color)
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.card {
    padding-bottom: 32px;
    padding-left: 16px;
}
/**--header--**/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-accent)
}

.header-container, 
.header-navigation, 
.header-list, 
.header-address, 
.header-address-list {
    display: flex;
    align-items: center;
}

.header-list, .header-address-list {
    gap: 40px;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.logo-link {
    font-family: var(--font-text-link);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-web {
    color: var(--primary-brand-color);
}

.logo-studio {
    color: var(--title-background-color-dark);
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-background-color-dark);
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-link:hover, .header-link:focus, .header-address-link:hover,
.header-address-link:focus {
    color: var(--pressed-state-color);
}

/**--hero--**/
.hero {
    background-color:var(--title-background-color-dark);
   
}

.hero-container {
}

.hero-text {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto;
    letter-spacing: 0.02em;
    color: var(--backgrond-color-light);
    padding-top: 188px;
    margin-bottom: 48px;
    
}

.big-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-background-color-dark);
    margin-bottom: 72px;
}

/**--features--**/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title {

}

/**--doing--**/

.doing {
    padding-bottom: 120px;
}

.doing-title {
}

.team {
    background-color: var(--background-color-team);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-item {
    background-color: var(--backgrond-color-light);
    border-radius: 0px 0px 4px 4px;
}

/**--footer--**/

.footer {
    background-color: var(--title-background-color-dark);
    color: var(--background-color-team);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo-studio {
    color: var(--background-color-team)
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
}

/**--portfolio--**/

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filters-list {
    margin-bottom: 72px;
}

.portfolio-list {}

.portfolio-item {
    background-color: var(--backgrond-color-light);
    margin-bottom: 48px;
    border-right: 1px solid var(--color-accent);
    border-bottom: 1px solid var(--color-accent);
    border-left: 1px solid var(--color-accent);

}

.portfolio-item-link:hover, .portfolio-item-link:focus {}